{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["prettier", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
    "rules": {
        "no-empty-function": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "prettier/prettier": 1,
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-inferrable-types": "off"
    }
}
